{% extends "layout.twig" %}

{% block title %}Add a new plant{% endblock %}

{% block content %}
<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
{% endblock %}
