{% extends "layout.twig" %}

{% block title %}Plants{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-2"><a href="plant/create" class="btn btn-default">Add a new plant</a></div>
  <div class="col-md-4">
    <div class="list-group">
      {% for plant in plants %}
      <a href="/plant/{{ plant.id }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ plant.name }}</h4>
        <p class="list-group-item-text"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp;{{ plant.specie }}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
