{% extends "layout.twig" %}

{% block content %}
<div class="page-header">
  <h3>{{ plant.name }}&nbsp;<small>Summary</small></h3>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="panel">Specie : {{ plant.specie }}</div>
  </div>
</div>
{% endblock %}
