{% extends "layout.twig" %}

{% block title %}Add a new sensor{% endblock %}

{% block content %}
<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" />
</form>
<a class="btn btn-default" href="/sensor">Back</a>
{% endblock %}
