<div class="ui vertical padded centered grid">
	<div class="row">
	  <div class="column">
	    <h1 class="ui dividing header">Home</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="four wide column">
	    <div class="ui message">Hello</div>
	  </div>
	  <div class="four wide column">
	    <div class="ui message">Hello</div>
	  </div>
	  <div class="four wide column">
	    <div class="ui message">Hello</div>
	  </div>
	  <div class="four wide column">
	    <div class="ui message">Hello</div>
	  </div>
	</div>
</div>