<div>
  <div id="PlantEditForm" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Edit plant</div>
    <div class="content">
      <form class="ui form">
        <div class="field">
      	  <label>Name</label>
      	  <input type="text" name="name" ng-model="plant.name" />
        </div>
        <div class="field">
      	  <label>Specie</label>
          <div>
            <select name="specie" ng-model="plant.classificationId">
              <option ng-repeat="plantClasse in plantClasses" value="{{plantClasse.id}}" ng-selected="plantClasse.id==plant.classificationId">
                {{plantClasse.commonName}}
                {{plantClasse.binomialName}}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <button type="submit" class="ui right labeled icon positive button" ng-click="actionConfirm(plant);">
        Confirm
        <i class="checkmark icon"></i>
      </button>
      <button type="submit" class="ui black deny button" ng-click="actionCancel();">Cancel</button>
    </div>
  </div>
  
  <div id="PlantEditConfirmation" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Add a plant</div>
    <div class="content">
      <p>Plant "{{plant.name}}" modified</p>
    </div>
    <div class="actions">
      <button type="submit" class="ui button">Ok</button>
    </div>
  </div>
</div>