<h1 class="ui header">
	<i class="leaf icon"></i>
	<div class="content">Plants</div>
</h1>

<plant-create label="'New plant'" callback="onPlantCreated"></plant-create>

<div class="ui divided items">
	<div class="item" ng-repeat="plant in plants">
		<div class="ui tiny image">
			<!--<img src="/api/Pictures/PlantClassification/download/{{plant.classification.id}}.jpg" />-->
		</div>
		<div class="content">
			<a class="header" href="#/plants/{{plant.id}}">{{plant.name}}</a>
			<div class="meta">
      	<span>{{plant.classification.commonName}} - {{plant.classification.binomialName}}</span>
    	</div>
		</div>

	</div>
</div>
