<div class="ui secondary menu">
  <a class="item" ng-class="{active: period=='week'}" ng-click="changePeriod('week')">Last week</a>
  <a class="item" ng-class="{active: period=='month'}" ng-click="changePeriod('month')">Last month</a>
</div>
<div class="ui inverted dimmer" ng-class="{active: loading}">
  <div class="ui text loader">Loading</div>
</div>
<div class="ui center aligned header" ng-if="isEmpty">No data</div>
<canvas ng-if="!isEmpty" id="{{key}}" class="chart chart-line" height="100%"
  data="chartData" 
  labels="chartLabels" 
  legend="false" 
  options="{  scaleBeginAtZero: true, 
              pointDotRadius: 2, 
              pointHitDetectionRadius:2, 
              animation: false, 
              datasetFill: false }"
  series="chartSeries"
  colours="chartColours" />
  
 <div id="chart-tooltip"></div>

