<h1 class="ui dividing header">{{plant.name}} <small>informations</small></h1>
<div class="ui vertical padded grid">
	<div class="row">
	  <div class="twelve wide column">
	  	<h3 class="ui top attached header">Health status</h3>
	    <div class="ui attached segment">
				<ul>
					<li>Last watering : {{lastWateringEvent.time | date:'medium'}}</li>
				</ul>
			</div>
	  </div>
	  <div class="four wide column">
	  	<!--<h3 class="ui top attached header">Classification</h3>-->
	    <div class="ui fluid green card">
				<div class="content">
					<h4 class="ui horizontal divider header">Classifications</h4>
					<p>
						<table class="ui two column definition table">
							<tbody>
							<tr><td>Common name</td><td>{{plant.classification.commonName}}</td></tr>
			        <tr><td>Binomial name</td><td>{{plant.classification.binomialName}}</td></tr>
							</tbody>
						</table>
					</p>
					<h4 class="ui horizontal divider header">Categories</h4>
					<p />
					<div class="ui labels"><span class="ui label" ng-repeat="tag in plant.classification.tags">{{tag}}</span></div>
				</div>
	    </div>
	  </div>
	</div>
	<div class="row">
	  <div class="sixteen wide column">
			<div class="ui top attached tabular menu">
			  <a class="item orange" ng-class="{active: chart=='groundHumidity'}" ng-click="changeChart('groundHumidity')">Ground humidity</a>
			  <a class="item blue" ng-class="{active: chart=='airHumidity'}" ng-click="changeChart('airHumidity')">Air humidity</a>
			  <a class="item yellow" ng-class="{active: chart=='luminosity'}" ng-click="changeChart('luminosity')">Luminosity</a>
			  <a class="item teal" ng-class="{active: chart=='temperature'}" ng-click="changeChart('temperature')">Temperature</a>
			</div>
	    <div class="ui bottom attached tab segment active">
			  <plant-chart type="chart" plant="plant.id" recommendations="plant.classification.recommendationsList" period="'week'" />
			</div>
	    <!--<div class="ui bottom attached tab segment" data-tab="airHumidity">
			  <plant-chart type="'airHumidity'" plant="plant.id" period="'week'" />
			</div>
	    <div class="ui bottom attached tab segment" data-tab="luminosity">
			  <plant-chart type="'luminosity'" plant="plant.id" period="'week'" />
			</div>
	    <div class="ui bottom attached tab segment" data-tab="temperature">
			  <plant-chart type="'temperature'" plant="plant.id" period="'week'" />
			</div>-->
	  </div>
	</div>
</div>
	