<div class="ui vertical padded grid">
	<div class="row">
	  <div class="column">
	    <h1 class="ui dividing header">{{plant.name}} <small>informations</small></h1>
	  </div>
	</div>
	<div class="row">
	  <div class="twelve wide column">
	  	<h3 class="ui top attached header">Details</h3>
	    <div class="ui attached segment">
			<ul>
				<li>Name : {{plant.name}}</li>
				<li>Classification : {{plant.classification.kingdom}}
                	{{plant.classification.division}} 
                	{{plant.classification.classe}}
                	{{plant.classification.order}}
                	{{plant.classification.family}}
                	{{plant.classification.genus}}
                	{{plant.classification.specie}}</li>
			</ul>
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="height wide column">
	  	<h3 class="ui top attached header">Temperature</h3>
	    <div class="ui bottom attached segment">
		  <canvas id="temperatureLine" class="chart chart-line" 
			  data="temperatureData" 
			  labels="temperatureLabels" 
			  legend="false" 
			  options="{ scaleBeginAtZero: true, pointDotRadius: 2, pointHitDetectionRadius:2, animation: false }" 
			  series="temperatureSeries" />
	    </div>
	  </div>
	  <div class="height wide column">
	  	<h3 class="ui top attached header">Luminosity</h3>
	    <div class="ui bottom attached segment">
		  <canvas id="luminosityLine" class="chart chart-line" 
			  data="luminosityData" 
			  labels="luminosityLabels" 
			  legend="false" 
			  options="{ scaleBeginAtZero: true, pointDotRadius: 2, pointHitDetectionRadius:2, animation: false }" 
			  series="luminositySeries"
			   />
		</div>
	  </div>
	</div>
	<div class="row">
	  <div class="height wide column">
	  	<h3 class="ui top attached header">Air humidity</h3>
	    <div class="ui bottom attached segment">
		  <canvas id="airHumidityLine" class="chart chart-line" 
			  data="airHumidityData" 
			  labels="airHumidityLabels" 
			  legend="false" 
			  options="{ scaleBeginAtZero: true, pointDotRadius: 2, pointHitDetectionRadius:2, animation: false }" 
			  series="airHumiditySeries" />
		</div>
	  </div>
	  <div class="height wide column">
	  	<h3 class="ui top attached header">Ground humidity</h3>
	    <div class="ui bottom attached segment">
		  <canvas id="groundHumidityLine" class="chart chart-line" 
			  data="groundHumidityData" 
			  labels="groundHumidityLabels" 
			  legend="false" 
			  options="{ scaleBeginAtZero: true, pointDotRadius: 2, pointHitDetectionRadius:2, animation: false }" 
			  series="groundHumiditySeries" />
		</div>
	  </div>
	  	  
	</div>
</div>
	