<div>
  <button class="ui button" ng-click="sensorCreateStep1()"><i class="add icon"></i>{{label}}</button>
  <div id="SensorCreateStep1" class="ui modal">
    <i class="close icon"></i>
    <div class="header">{{label}} <small>1/2</small></div>
    <div class="content">
      <div class="ui form">
        <div class="two fields">
          <div class="required field">
        	  <label>Model</label>
        	  <!--<input type="text" name="modelNumber" ng-model="sensor.modelNumber" />-->
            <select name="modelNumber" ng-model="sensor.modelNumber">
              <option ng-repeat="model in sensorModels" value="{{model.modelNumber}}">{{model.modelNumber}}</option>
            </select>
          </div>
          <div class="required field">
        	  <label>Item</label>
        	  <input type="text" name="itemNumber" ng-model="sensor.itemNumber" />
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="ui primary button" ng-click="sensorCreateStep2()">Next</button>
    </div>
  </div>
  
  <div id="SensorCreateStep2" class="ui modal">
    <i class="close icon"></i>
    <div class="header">{{label}} <small>2/2</small></div>
    <div class="content">
      <div class="ui form">
        <div class="two fields">
          <div class="field">
        	  <label>Model</label>
        	  {{sensor.modelNumber}}
          </div>
          <div class="field">
        	  <label>Item</label>
        	  {{sensor.itemNumber}}
          </div>
        </div>
        <!--<div class="required field">
    	  	<label>Name</label>
    	  	<input type="text" name="Name" />
        </div>-->
        <div class="field" ng-repeat="selectedTarget in selectedTargets track by $index">
        	<label>{{sensorModel.targetsType}} {{$index + 1}}</label>
          <div class="two fields">
            <div class="thirteen wide field">
              <select ng-model="selectedTarget.id">
                <option value="0">-- Choose --</option>
                <option ng-repeat="target in targets" value="{{target.id}}">{{target.name}}</option>
              </select>
            </div>
            <div class="three wide field">
              <plant-create label="'New'" callback="sensorCreateStep2" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="submit" class="ui right labeled icon positive button" ng-click="sensorCreateStep3()"><i class="checkmark icon"></i>Confirm</button>
    </div>
  </div>
  
  <div id="SensorCreateError" class="ui modal">
    <i class="close icon"></i>
    <div class="header">Error</div>
    <div class="content">
      <p>{{error.message}}</p>
    </div>
    <div class="actions">
      <button type="submit" class="ui right labeled icon close button">Ok</button>
    </div>
  </div>
</div>
