.row
  .col-md-12
    if plants.length == 0
      .alert.alert-info
        p Not plant yet
    else
      .list-group
        each plant in plants
          a.list-group-item(href='/plant/#{plant.id}', class={active: (currentPlant && plant.id == currentPlant.id)})
            h4.list-group-item-heading #{plant.name}
            p.list-group-item-text
              span(class=['glyphicon',  'glyphicon-leaf'])
              | &nbsp;#{plant.specie}

.row
  .col-md-12
    .btn-group
      include ./block_create.jade
