extends ../layout.jade

- var title = "plants"

block page-title
  h3 Plants
  
block content
  .row
    .col-md-2
      include ./block_list.jade
    .col-md-8
      .alert.alert-info Select a plant to see more.
